.bzh_title_btn {
    display: inline-flex;
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 0 3px var(--eclipse) inset; */
    -webkit-app-region: no-drag;
}

.nva_link {
    cursor: pointer !important;
    padding-inline: 4px;
}

.nva_link_select {
    transition: 400ms;
    text-decoration: underline;
    color: #C65306;
    /* font-weight: bolder; */
    /* text-decoration: solid underline; */
}