.head {
    -webkit-app-region: drag;
    line-height: 1;
    background: #000;
    padding: 2pt;
    text-align: right;
    user-select: none;
    position: relative;
}

.title_bar {
    -webkit-app-region: no-drag;
    /* display: inline-flex; */

}