.bzh_img_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    filter: blur(2px);

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        background:
            repeating-linear-gradient(to top, var(--background), transparent),
            repeating-radial-gradient(var(--accent), transparent);
        /* background-color: rebeccapurple; */
        /* backdrop-filter: blur(2px);; */
    }
}