@import "tailwindcss";
@import "@heroui/styles";

:root {
    --accent: #05a081;
}

html,
body {
    scrollbar-width: none;
}

main {
    scrollbar-width: none;
}

.main {
    height: calc(100vh - 34px);
}

.top_bar {
    -webkit-app-region: drag;
}

.top_bar_btn {
    -webkit-app-region: no-drag;
}