@import "tailwindcss";
@import "@heroui/styles";

:root {
    --accent: green;
}

.main {
    height: calc(100vh - 34px);
    overflow-y: auto;
    scrollbar-width: none;
}

.top_bar {
    -webkit-app-region: drag;
}

.top_bar_btn {
    -webkit-app-region: no-drag;
}