@import "tailwindcss";
@import "@heroui/styles";

@font-face {
    font-family: 'pfyft';
    font-weight: 500;
    src: url("/font/平方迎风体.ttf");
}


.head {
    -webkit-app-region: drag;
}

#root {
    height: 100vh;
}

:root {
    ::selection {
        background: #c65306;
    }
}

main {
    overflow: hidden;
    overflow-y: auto;
    background-image: url('/bg.jpg');
    background-size: 100% 100%;
}





li {
    list-style: square;
}

.labelContext {
    font-family: Consolas, 'Courier New', monospace;
    font-weight: bolder;
}