@import "tailwindcss";
@import "@heroui/styles";

:root {
    --accent: #05a081;
}

html,
body {
    overflow: hidden;
    scrollbar-width: none;
}

main {
    scrollbar-width: none;
}

.main {
    height: calc(100vh - 34px);
}

.top_bar {
    -webkit-app-region: drag;
    position: sticky;

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* background: repeating-linear-gradient(to bottom, var(--color-background), rgba(0, 0, 0, 0.5)); */
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }
}

.top_bar_btn {
    -webkit-app-region: no-drag;
}