@import "tailwindcss";
@import "@heroui/styles";
:root{
    line-height: 1;
}

#root {
    width: 100vw;
    height: 100vh;
    /* border-radius: 8px; */
    overflow: hidden;
}

.main {
    height: 100vh;
}

.content {
    padding: 2pt;
    flex: 1;
}