@import "tailwindcss";
@import "@heroui/styles";

@font-face {
    font-family: 'pfyft';
    src: url("/font/平方迎风体.ttf");
}


.head {
    -webkit-app-region: drag;
    /* background: repeating-linear-gradient(to right, rgba(208, 130, 12, 0.2), transparent); */
    /* backdrop-filter: blur(2px); */
}

#root {
    /* font-family: 'pfyft'; */
    height: 100vh;
}

main {
    overflow: hidden;
    overflow-y: auto;
    background-image: url('/bg.jpg');
    background-size: 100% 100%;
}